<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Drink-up</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          Admin actions
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" (click)="rerouteToLogin()">
            <a
              class="nav-link active"
              aria-current="page"
              style="cursor: pointer"
            >
              <i class="fa-solid fa-arrow-right-to-bracket"></i> Sign in</a
            >
          </li>
          <li class="nav-item" (click)="signOut()">
            <a
              class="nav-link active"
              aria-current="page"
              style="cursor: pointer"
            >
              <i class="fa-solid fa-arrow-right-to-bracket"></i> Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
